@import "@/shared/styles/index.scss";

.home__background {
	width: 100%;
	height: 975px;
	position: absolute;
	top: 0;
	z-index: -1;
	background-color: $primary-dark-color;
	overflow: hidden;

	.img-container {
		width: 100%;
		height: 100%;
		img {
			object-fit: cover;
		}
	}

	.img-container::after {
		content: "";
		width: 100%;
		height: 400px;
		position: absolute;
		bottom: 0;
		background: linear-gradient(
			180deg,
			rgba(4, 10, 10, 0) 0%,
			#040a0a 100%
		);
	}

	.left-gradient {
		width: 50%;
		height: 100%;
		background: radial-gradient(50% 40%, #43ffd240, #43ffd220, #43ffd201);
		position: absolute;
		left: 0;
		top: 0;
		z-index: -2;
		transform: rotate(-45deg);
		border-radius: 50%;
	}
	.right-gradient {
		width: 50%;
		height: 100%;
		background: radial-gradient(50% 40%, #7d225360, #7d225340, #7d225305);
		position: absolute;
		right: 0;
		top: 0;
		z-index: -2;
		transform: rotate(41deg);
		border-radius: 50%;
	}
	.email {
		position: relative;
		z-index: 100;
		right: 0;
	}
}
