@import "@/shared/styles/index.scss";

.background {
	max-width: 1440px;
	width: 100%;
	height: 1244px;
	filter: brightness(1.2) contrast(1.1);
	object-fit: cover;
	
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 406px;
		bottom: 0;
		z-index: 1;
		pointer-events: none;
		background: linear-gradient(
			180deg,
			rgba(4, 10, 10, 0) 0%,
			#040a0a 100%
		);
	}

	.email{
		position: relative;
		z-index: 100;
		right: 0;
	}
}
