.social-links {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 60px;
	height: 154px;
	margin-top: 70px;
	background-color: #00000027;
	backdrop-filter: blur(20px);
	border-radius: 10px;
	position: absolute;
	right: 0;

	svg {
		cursor: pointer;
	}
}
