.social-links {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 60px;
	height: 150px;
	position: absolute;
	right: 0px;

	svg{
		pointer-events: auto;
		cursor: pointer;
	}
}
